<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true">
    <button
      toggle="visible"
      cHeaderToggler
      [cSidebarToggle]="sidebarId"
      class="ps-1"
    >
      <svg cIcon
        name="cilMenu"
        size="lg"
      ></svg>
    </button>
    <c-header-nav class="d-none d-lg-flex me-auto">
      
      <c-nav-item>
        <a routerLink="#" cNavLink class="notification-icon">
          <svg cIcon name="cilBell" size="lg"></svg>
          <c-badge class="notification-badge" color="info">
            7
          </c-badge>
        </a>
      </c-nav-item>
      
      <c-nav-item>
        <a routerLink="#" cNavLink>
          <svg cIcon name="cilEnvelopeOpen" size="lg"></svg>
          <c-badge class="notification-badge" color="success">
            9
          </c-badge>
        </a>
      </c-nav-item>

      <c-nav-item >
        <a cNavLink routerLink="/teacher/profile" routerLinkActive="active">
          Thông tin cá nhân
        </a>
      </c-nav-item>
      <c-nav-item>
        <a cNavLink (click)="logout()" routerLinkActive="active">Đăng xuất</a>
      </c-nav-item>
    </c-header-nav>

    <c-header-nav class="d-none d-lg-flex">
       
      <c-nav-item>
        <h5 style="text-align: right; color:#1200ff; font-family:'Roboto', sans-serif;">{{user.hoVaTen}}</h5>
        <h6 style="color:#1d1c69;">{{user.email}}</h6>
      </c-nav-item>
    </c-header-nav>
    <c-header-nav class="ms-3">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>

  </c-container>
  <c-header-divider></c-header-divider>
  <c-container [fluid]="true">
    <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
  </c-container>
</ng-container>
<!--</c-header>-->

<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button
      cButton
      color=""
      [caret]="false"
      cDropdownToggle
      class="py-0"
    >
      <c-avatar
        cTextColor="primary"
        shape="rounded-1"
        size="md"
        [src]="user.anhDaiDien ? user.anhDaiDien : defaultImage" alt="" class="avata_profile_img"
        status="success"
      >
      </c-avatar>
    </button>
    <ul cDropdownMenu class="pt-0 pr-5 w-auto">
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Cài đặt</h6>
      </li>
      <li></li>
      <li>
        <button cButton
        color=""
        [caret]="false"
        cDropdownToggle
        class="py-0" data-bs-toggle="modal" data-bs-target="#profile"  cDropdownItem>
          <svg cIcon class="me-2" name="cilUser"></svg>
          Thông tin cá nhân
        </button>
      
      </li>
      <li>
        <a routerLink="/changepassword" cDropdownItem>
          <svg cIcon class="me-2" name="cilSettings"></svg>
          Đổi mật khẩu
        </a>
      </li>
      <li>
        <a (click)="logout()" cDropdownItem>
          <svg cIcon class="me-2" name="cilCreditCard"></svg>
         Đăng xuất
        </a>
      </li>
    </ul>
  </c-dropdown>

 <!-- Modal profile -->
<div class="modal fade" id="profile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-dialog-md">
      <div class="modal-content">


        <div class="modal-body" style="padding: 0;">
          <div class="profile-header">
            <div class="background_profile">
              <p class="text-center text-white pt-1">HỆ THỐNG THI TRẮC NGHIỆM <br><b>QUIZZ EDUCATION</b></p>
              <p class="text-center"></p>
              <img
                src="https://firebasestorage.googleapis.com/v0/b/quizzeducation-eaea3.appspot.com/o/images%2Fcard-blue.jpg?alt=media&token=6ac72c20-9041-40dd-a8e9-ab0e5f8c7d5c"
                alt="" class="background_profile_img">
            </div>
            <div class="role_avata">
              <div class="avata_profile">
                <img (click)="openChangeImage()" [src]="user.anhDaiDien ? user.anhDaiDien : defaultImage" alt=""
                  class="avata_profile_img">
              </div>

              <div class="role_profile">
                <p class="title-card">THẺ HỌC SINH</p>

                <div class="d-flex"><label>
                    <i>Họ và tên/Name:</i></label>
                  <h5> {{user.hoVaTen}}</h5>
                </div>

                <div class="d-flex">
                  <label><i>Ngày sinh/DateOfBirth:</i></label>
                  <p> {{user.ngaySinh | date:'dd/MM/yyyy'}}</p>

                </div>



                <div class="d-flex">
                  <label> <i>Lớp/Class:</i></label>
                  <p> {{user.lopThi.tenLop}}</p>



                  <div class="khung-qr">
                    <img class="QR" [src]="qrCodeImage" alt="QR Code">
                  </div>
                </div>
                <p class="footer-card">www.quizz.edu.vn</p>
              </div>
            </div>
          </div>
          <div class="profile-body">
            <div class="profile-body-content">
              <div class="title-content d-flex">
                <h2>Thông tin cá nhân</h2>
                <input type="file" accept="images/*" id="fileInput" style="display: none;">
                <button style="margin-left: 70px; border-radius: 10px; border: none; " (click)="openChangeImage()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                  </svg> Đổi ảnh</button>
              </div>
              <div class="profile-body-content-header">

                <div class="row g-3 grid p-fluid">

                  <div class="field col-12">
                    <label for="hoVanTen" class="form-label">Họ và tên</label>
                    <input type="text" id="hoVanTen" class="form-control box-shadow-none disabled-input"
                      [value]="user.hoVaTen">
                  </div>
                  <div class="field col-12">
                    <label for="cccd" class="form-label">Căn cước công dân</label>
                    <input type="text" id="cccd" class="form-control box-shadow-none disabled-input"
                      [value]="user.canCuocCongDan">
                  </div>
                  <div class="field col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" id="email" class="form-control box-shadow-none disabled-input"
                      [value]="user.email">
                  </div>
                  <div class="field col-12">
                    <label for="ngaySinh" class="form-label">Ngày sinh</label>
                    <input type="text" id="ngaySinh" class="form-control box-shadow-none disabled-input"
                      [value]="user.ngaySinh | date:'dd/MM/yyyy'">
                  </div>
                  <div class="field col-12">
                    <label for="gioiTinh" class="form-label">Giới tính</label>
                    <input type="text" id="gioiTinh" class="form-control box-shadow-none disabled-input"
                      [value]="user.gioiTinh? 'Nam':'Nữ' ">
                  </div>
                  <div class="field col-12">
                    <label for="soDienThoai" class="form-label">Số điện thoại</label>
                    <input type="text" id="soDienThoai" class="form-control box-shadow-none disabled-input"
                      [value]="user.soDienThoai">
                  </div>
                  <div class="field col-12">
                    <label for="diaChi" class="form-label">Địa chỉ</label>
                    <input type="text" id="diaChi" class="form-control box-shadow-none disabled-input"
                      [value]="user.diaChi">
                  </div>
                  <div class="field col-12">
                    <label for="lopThi" class="form-label">Lớp</label>
                    <input type="text" id="lopThi" class="form-control box-shadow-none disabled-input"
                      [value]="user.lopThi.tenLop">
                  </div>

                  <div class="field col-12">
                    <label for="trangThai" class="form-label">Trạng thái</label>
                    <input type="text" id="trangThai" class="form-control box-shadow-none disabled-input"
                      [value]="user.trangThai? 'DHOC (Đang Học)':'NHOC (Nghĩ Học)'">
                  </div>
                </div>


              </div>
            </div>
          </div>
          <input id="changeImage" accept="image/*" type="file" (change)="saveNewProfilePic($event)" hidden>
        </div>
      </div>
    </div>
  </div>
</div>
</ng-template>
