h3 {
    margin: 20px 0 20px;
    font-family: 600;
    font-size: 26px;
}

.p-inputgroup {
    height: 40px;
}
:host ::ng-deep .error-input-ng input {
    border: 1px solid red;
    border-radius: 7px;
}

.error-message {
    color: red;
}