.tab-content {
    // padding: 0 15px 0 15px;
}

table {
    font-size: 14px;
}


:host ::ng-deep tbody {
    border-radius: var(--8, 8px);
    border: 1px solid var(--gray-200, #EAECF0);
    background: var(--white-100, #FFF);
}

:host ::ng-deep p-table th {
    font-size: 14px;
    border-radius: var(--8, 8px);
    border-top: 1px solid var(--gray-200, #EAECF0);
    background: var(--white-100, #FFF);
}

:host ::ng-deep tbody tr td {
    border-bottom: 1px solid var(--gray-200, #EAECF0);
    background: var(--gray-50, #F9FAFB);
    font-size: 14px;
}

:host ::ng-deep thead {
    border-radius: var(--8, 8px);
    border: 1px solid var(--gray-200, #EAECF0);
    background: var(--white-100, #FFF);
}

// định dạng màu cho trạng thái
.contest-status-chua-thi {
    color: red;
}

.contest-status-dang-thi {
    color: blue;
}

.contest-status-da-thi {
    color: green;
}

:host ::ng-deep p-dropdown ul {
    margin: 0;
    padding: 0;
}

//Form Search 
.group-header-table {
    display: flex;
    justify-content: space-between;
}

// .inport button{
//     border-radius: 5px;
//     border: 1px solid var(--gray-600, #475467);
//     background: var(--gray-25, #FCFCFD);
//     box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
// }
.tabs {
    background-color: white;
    border-radius: 10px;
    height: 100%;
    padding: 10px 15px 0 15px;
}

:host ::ng-deep .columnFilterLopThi {
    width: 220px;
    height: 54px;
    // margin-left: 30px;
    margin-top: -10px;
}

.modal-filter {
    display: flex;
    margin-top: 10px;
}

.btn-info {
    width: 70px;
    height: 40px;
    font-size: 14px;
}

:host ::ng-deep p-dropdown .p-dropdown {
    width: 100%;
    height: 37.6;
}

:host ::ng-deep p-calendar .p-calendar {
    width: 100%;
    height: 37.6;
}

.thaotac button {
    height: 40px;
    width: 40px;
}

:host ::ng-deep p-multiselect .p-multiselect {
    height: 48px;
    width: 100%;
}

:host ::ng-deep p-multiselect p-multiselectitem li {
    width: 95%;
}

:host ::ng-deep p-multiselect .p-multiselect .p-multiselect-label {

    width: 110%;
}


:host ::ng-deep .error-input-select .p-multiselect {
    border: 1px solid red;
    border-radius: 7px;
}

.error-message {
    color: red;
}

:host ::ng-deep .error-input-date input {
    border: 1px solid red;
    border-radius: 7px 0px 0px 7px;
}

:host ::ng-deep .error-input {
    border: 1px solid red;
    border-radius: 7px;
}

:host ::ng-deep .ngaySinh p-calendar span {
    width: 100%;
    height: 37px;
    border-radius: 7px;
}