<div class="tabs">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active text-dark" id="nav-danh-sach-tab" data-bs-toggle="tab"
        data-bs-target="#nav-danh-sach" type="button" role="tab" aria-controls="nav-danh-sach" aria-selected="true">Danh
        Sách</button>
      <button class="nav-link text-dark" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
        type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Tạo Kỳ Thi</button>
      <button class="nav-link text-dark" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
        type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Chi tiết kì thi</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active mt-4" id="nav-danh-sach" role="tabpanel" aria-labelledby="nav-danh-sach-tab">

      <!-- <table datatable [dtOptions]="dtOptions" class="row-border hover"></table> -->

      <!-- test -->
      <div class="group-header-table ">
        <div class="inport">
          <!-- <button type="button" pButton pRipple class="btn btn-success mr-2 text-light" pTooltip="XLS"
            tooltipPosition="bottom">Xuất file Excel</button> -->
        </div>
        <div class="form-search">
          <form class="w-100" [formGroup]="formFilter">
            <div class="input-group mb-3">
              <button (click)="dt1.filterGlobal(getValueSearch(), 'contains')"
                class="btn btn-outline-secondary box-shadow-none" type="button" id="button-search"><svg
                  xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path
                    d="M17.5 17.5L13.875 13.875M15.8333 9.16667C15.8333 12.8486 12.8486 15.8333 9.16667 15.8333C5.48477 15.8333 2.5 12.8486 2.5 9.16667C2.5 5.48477 5.48477 2.5 9.16667 2.5C12.8486 2.5 15.8333 5.48477 15.8333 9.16667Z"
                    stroke="#667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
                </svg></button>
              <input pInputText type="text" (change)="dt1.filterGlobal(getValueSearch(), 'contains')"
                formControlName="search" class="form-control box-shadow-none" placeholder="Tìm kiếm"
                aria-label="Example text with button addon" aria-describedby="button-search">
            </div>
          </form>
        </div>
      </div>

      <div class="list-body">
        <p-table [value]="listContest" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" #dt1
          dataKey="maKyThi" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]"
          [paginator]="true" currentPageReportTemplate="Đang xem {first} đến {last} trong tổng số {totalRecords} mục"
          [globalFilterFields]="['maKyThi', 'tenKyThi']">

          <ng-template pTemplate="header" class="theader">
            <tr>
              <th pSortableColumn="maKyThi" style="width:14%">Mã kỳ thi <p-sortIcon field="maKyThi"></p-sortIcon> </th>
              <th pSortableColumn="tenKyThi" style="width:26% ">Tên kỳ thi <p-sortIcon field="tenKyThi"></p-sortIcon>
              </th>
              <th style="width:15%; text-align: center;">Trạng thái
              </th>
              <th pSortableColumn="thoiGianBatDau" style="width:17%;  text-align: center;">Thời gian bắt đầu <p-sortIcon
                  field="thoiGianBatDau"></p-sortIcon></th>
              <th pSortableColumn="thoiGianKetThuc" style="width:17%;text-align: center;">Thời gian kết thúc <p-sortIcon
                  field="thoiGianKetThuc"></p-sortIcon>
              </th>
              <th style="width:22%; text-align: center;">Thao tác</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" class="tbody" let-listContest let-rowIndex="rowIndex">
            <tr>
              <td>
                {{listContest.maKyThi}}
              </td>
              <td>{{listContest.tenKyThi}}</td>
              <td class="text-center" [ngClass]="{
              'contest-status-chua-thi': getContestStatus(listContest.thoiGianBatDau, listContest.thoiGianKetThuc) === 'Chưa thi',
              'contest-status-dang-thi': getContestStatus(listContest.thoiGianBatDau, listContest.thoiGianKetThuc) === 'Đang thi',
              'contest-status-da-thi': getContestStatus(listContest.thoiGianBatDau, listContest.thoiGianKetThuc) === 'Đã thi'
            }">
                {{ getContestStatus(listContest.thoiGianBatDau, listContest.thoiGianKetThuc) }}
              </td>
              <td class="d-none d-lg-table-cell moPhai text-center">
                {{listContest.thoiGianBatDau | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
              <td class="d-none d-lg-table-cell moPhai text-center">
                {{listContest.thoiGianKetThuc | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
              <td class="text-center d-flex"><button class="btn btn-info text-light mx-2" data-bs-toggle="modal"
                  data-bs-target="#suakythi" (click)="getEditKyThi(listContest.maKyThi)">Sửa</button>
                <button class="btn btn-info text-light"
                  (click)="getItemChiTietKyThi(listContest.maKyThi, listContest.thoiGianBatDau, listContest.thoiGianKetThuc)"
                  style="width: 100px;">Chi
                  tiết</button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
          </ng-template>
          <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
          </ng-template>
        </p-table>

      </div>


      <button #confirmButton class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalToggle"
        hidden>Xác
        nhận</button>


    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

      <app-contest-create></app-contest-create>

    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <app-contest-detail></app-contest-detail>
    </div>
  </div>
</div>


<!-- Modal edit kì thi -->
<div class="modal fade" id="suakythi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa kỳ thi</h5>
      </div>
      <form [formGroup]="myFormKyThi">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <label for="input1" class="form-label">Tên kỳ thi</label>
                <input type="text" class="form-control" formControlName="tenKyThi"
                  [ngClass]="{'error-input': myFormKyThi.get('tenKyThi').invalid && myFormKyThi.get('tenKyThi').touched}">
                <small *ngIf="myFormKyThi.get('tenKyThi').hasError('required') && myFormKyThi.get('tenKyThi').touched"
                  class="error-message">Vui lòng nhập tên kỳ thi !</small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="input2" class="form-label">Thời gian bất đầu</label>
                <div class="flex justify-content-center ngaySinh">
                  <p-calendar formControlName="thoiGianBatDau" placeholder="Chọn thời gian bất đầu"
                    dateFormat="dd/mm/yy" [showTime]="true" [showSeconds]="true" [showIcon]="true"
                    [ngClass]="{'error-input-date': messageEdit||myFormKyThi.get('thoiGianBatDau').invalid && myFormKyThi.get('thoiGianBatDau').touched}"></p-calendar>
                </div>
                <small
                  *ngIf="myFormKyThi.get('thoiGianBatDau').hasError('required') && myFormKyThi.get('thoiGianBatDau').touched"
                  class="error-message">Vui lòng chọn thời gian bất đầu !</small>
                <small *ngIf="messageEdit" class="error-message">{{ messageEdit }}</small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="input2" class="form-label">Thời gian kết thúc</label>
                <div class="flex justify-content-center ngaySinh">
                  <p-calendar formControlName="thoiGianKetThuc" placeholder="Chọn thời gian bất đầu"
                    dateFormat="dd/mm/yy" [showTime]="true" [showSeconds]="true" [showIcon]="true"
                    [ngClass]="{'error-input-date': myFormKyThi.get('thoiGianKetThuc').invalid && myFormKyThi.get('thoiGianKetThuc').touched}"></p-calendar>
                </div>
                <small
                  *ngIf="myFormKyThi.get('thoiGianKetThuc').hasError('required') && myFormKyThi.get('thoiGianKetThuc').touched"
                  class="error-message">Vui lòng chọn thời gian bất đầu !</small>

              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            <form (ngSubmit)="onSubmit()">
              <button class="btn btn-info text-light" style="width: 100px;">Cập nhật</button>
            </form>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal hiển thị id chi tiết kỳ thi -->
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
  tabindex="-1">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">{{tenKyThi}}</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p-table [value]="itemChiTietKiThi" editMode="row" dataKey="maChiTietKyThi" [paginator]="true"
          [showCurrentPageReport]="true" #dt1 [rows]="10" [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10, 25, 50]"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [globalFilterFields]="['monThi.maMon', 'lopThi.maLopThi']">

          <ng-template pTemplate="caption">
            <div class="group-header-table ">
              <div class="inport modal-filter">
                <p-columnFilter class="columnFilterLopThi" field="lopThi.maLopThi" matchMode="equals"
                  [showMenu]="false">
                  <ng-template pTemplate="filter" let-label let-filter="filterCallback">
                    <p-dropdown [ngModel]="label" [options]="lopThi" (onChange)="filter($event.value)"
                      placeholder="Lớp thi" [showClear]="true">
                      <ng-template let-option pTemplate="item">
                        <span class="ml-1 mt-1">{{ option.label }}</span>
                      </ng-template>
                    </p-dropdown>
                  </ng-template>
                </p-columnFilter>

                <p-columnFilter class="columnFilterLopThi" field="monThi.maMon" matchMode="equals" [showMenu]="false">
                  <ng-template pTemplate="filter" let-label let-filter="filterCallback">
                    <p-dropdown [ngModel]="label" [options]="monThi" (onChange)="filter($event.value)"
                      placeholder="Môn thi" [showClear]="true">
                      <ng-template let-option pTemplate="item">
                        <span class="ml-1 mt-1">{{ option.label }}</span>
                      </ng-template>
                    </p-dropdown>
                  </ng-template>
                </p-columnFilter>
              </div>

              <div class="addClass">
                <button class="btn btn-outline-primary" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal"
                  data-bs-dismiss="modal" [disabled]="getStatus() !== 'Chưa thi' ">

                  Thêm lớp</button>

              </div>
            </div>
          </ng-template>


          <ng-template pTemplate="header" class="theader">
            <tr>

              <th pSortableColumn="monThi.maMon" style="width:18%;">Tên môn thi<p-sortIcon
                  field="monThi.maMon"></p-sortIcon>
              </th>
              <th pSortableColumn="lopThi.maLopThi" style="width:18%; text-align: center;">Tên lớp thi<p-sortIcon
                  field="lopThi.maLopThi"></p-sortIcon>
              </th>
              <th style="width:15%; text-align: center;">Thời gian làm bài
              </th>
              <th pSortableColumn="thoiGianBatDau" style="width:20%;  text-align: center;">Thời gian bắt đầu

              </th>
              <th pSortableColumn="thoiGianKetThuc" style="width:20%;text-align: center;">Thời gian kết thúc

              </th>
              <th style="width:10%">Thao tác</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" class="tbody" let-itemChiTietKiThi let-ri="rowIndex">
            <tr>
              <td>
                {{itemChiTietKiThi.monThi.tenMon}}
              </td>
              <td class="text-center">
                {{ itemChiTietKiThi.lopThi ? itemChiTietKiThi.lopThi.tenLop : 'Chưa có' }}
              </td>
              <td class="text-center">
                {{ itemChiTietKiThi ? tinhThoiGianChenhLech(itemChiTietKiThi) : 'Chưa có' }} phút
              </td>
              <td class="text-center">
                {{ itemChiTietKiThi.thoiGianBatDau ? (itemChiTietKiThi.thoiGianBatDau | date: 'dd/MM/yyyy HH:mm:ss') :
                'Chưa có' }}
              </td>
              <td class="text-center">
                {{ itemChiTietKiThi.thoiGianKetThuc ? (itemChiTietKiThi.thoiGianKetThuc | date: 'dd/MM/yyyy HH:mm:ss') :
                'Chưa có' }}
              </td>
              <td class="text-center d-flex thaotac">

                <button data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal" icon="pi pi-pencil" pButton class="btn btn-outline-primary mx-2"
                  (click)="editchitietkythi(itemChiTietKiThi.maChiTietKyThi)"
                  [disabled]="getStatus() !== 'Chưa thi' ||  !(itemChiTietKiThi.lopThi) "></button>

                <button icon="pi pi-trash" pButton class="btn btn-outline-primary"
                  (click)="deleteChiTietKyThi(itemChiTietKiThi.maChiTietKyThi)"
                  [disabled]="getStatus() !== 'Chưa thi'"></button>
              </td>

            </tr>

          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
          </ng-template>
          <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
          </ng-template>
        </p-table>

      </div>
    </div>
  </div>
</div>

<!-- Modal edit chi tiết kỳ thi -->
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
  tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title" id="exampleModalLabel">Sửa lớp và môn trong kỳ thi</h4>
        <button #confirmButtondismiss type="button" class="btn-close" data-bs-target="#exampleModalToggle"
          data-bs-toggle="modal" data-bs-dismiss="modal"></button>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">
          <h4 class="my-3">Thông tin của chi tiết kì thi</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3 input-edit-chitiet">
                <label for="tenMon" class="form-label">Môn thi</label> <br>
                <input type="text" class="form-control" formControlName="tenMon" placeholder="Nhập tên môn thi" required
                  [readonly]="true">
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3 input-edit-chitiet">
                <label for="tenLop" class="form-label">Lớp thi</label> <br>
                <input type="text" class="form-control" placeholder="Nhập tên môn thi" required formControlName="tenLop"
                  [readonly]="true">
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="tenLop" class="form-label">Thời gian bắt đầu</label> <br>


                <input class="form-control" type="datetime" formControlName="thoiGianBatDau" [readonly]="true">
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="tenLop" class="form-label">Thời gian kết thúc</label> <br>
                <input class="form-control" type="datetime" formControlName="thoiGianKetThuc" [readonly]="true">
              </div>
            </div>
          </div>

          <h4 class="my-3">Chỉnh sửa</h4>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3 input-edit-chitiet">
                <label for="tenMon" class="form-label">Môn thi</label> <br>
                <p-dropdown [options]="selecttenmon" formControlName="tenMon" optionLabel="name"></p-dropdown>

              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3 input-edit-chitiet">
                <label for="tenLop" class="form-label">Lớp thi</label> <br>
                <p-dropdown [options]="selecttenlop" formControlName="tenLop" optionLabel="name"></p-dropdown>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="tenLop" class="form-label">Thời gian bắt đầu</label> <br>

                <p-calendar formControlName="thoiGianBatDau1" placeholder="Chọn thời gian bất đầu" dateFormat="mm/dd/yy"
                  [showTime]="true" [showSeconds]="true" [showIcon]="true"></p-calendar>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="tenLop" class="form-label">Thời gian kết thúc</label> <br>

                <p-calendar formControlName="thoiGianKetThuc1" placeholder="Chọn thời gian kết thúc"
                  dateFormat="mm/dd/yy" [showTime]="true" [showSeconds]="true" [showIcon]="true"></p-calendar>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" pButton pRipple (click)="updateChiTietKiThi()">Cập nhật</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- modal thêm lớp vào môn -->
<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
  tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">

    <form [formGroup]="myFormMonThi">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Thêm lớp vào môn</h4>
          <button #confirmButtondismiss type="button" class="btn-close" data-bs-target="#exampleModalToggle"
            data-bs-toggle="modal" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3 input-edit-chitiet">
                <label for="tenMon" class="form-label">Môn Thi</label> <br>
                <p-dropdown [options]="selecttenmon_kythi" optionLabel="name" formControlName="tenMon2"
                  (ngModelChange)="onSelectChange($event)"></p-dropdown>

              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3 input-edit-chitiet">
                <label for="tenLop" class="form-label">Lớp Thi</label> <br>

                <p-multiSelect [options]="selectLopThi" placeholder="Chọn lớp thi" optionLabel="name"
                  formControlName="tenLop2" display="chip" [showClear]="true"
                  [ngClass]="{'error-input-select': myFormMonThi.get('tenLop2').invalid && myFormMonThi.get('tenLop2').touched}"></p-multiSelect>
                <small *ngIf="myFormMonThi.get('tenLop2').hasError('required') && myFormMonThi.get('tenLop2').touched"
                  class="error-message">Vui lòng chọn lớp thi !</small>
              </div>
            </div>


            <div class="col-md-6">
              <div class="mb-3 input-edit-chitiet">
                <label for="tenLop" class="form-label">Thời gian bất đầu</label> <br>
                <p-calendar [minDate]="toDay" formControlName="thoiGianBatDau2" placeholder="Chọn thời gian bất đầu"
                  dateFormat="dd/mm/yy" [showTime]="true" [showSeconds]="true" [showIcon]="true"
                  [ngClass]="{'error-input-date': myFormMonThi.get('thoiGianBatDau2').invalid && myFormMonThi.get('thoiGianBatDau2').touched}"></p-calendar>
                <small
                  *ngIf="myFormMonThi.get('thoiGianBatDau2').hasError('required') && myFormMonThi.get('thoiGianBatDau2').touched"
                  class="error-message">Vui lòng chọn thời gian bất đầu !</small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3 input-edit-chitiet">
                <label for="tenLop" class="form-label">Thời gian kết thúc</label> <br>
                <p-calendar [minDate]="toDay" formControlName="thoiGianKetThuc2" placeholder="Chọn thời gian bất đầu"
                  dateFormat="dd/mm/yy" [showTime]="true" [showSeconds]="true" [showIcon]="true"
                  [ngClass]="{'error-input-date': errorMesssage ||  myFormMonThi.get('thoiGianKetThuc2').invalid && myFormMonThi.get('thoiGianKetThuc2').touched}"></p-calendar>
                <small
                  *ngIf="myFormMonThi.get('thoiGianKetThuc2').hasError('required') && myFormMonThi.get('thoiGianKetThuc2').touched"
                  class="error-message">Vui lòng chọn thời gian kết thúc !</small>
                <small *ngIf="errorMesssage" class="error-message">{{ errorMesssage }}</small>

              </div>
            </div>



          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" (click)="UpdateLopvaoMon()" pButton pRipple>Thêm lớp vào môn</button>
        </div>
      </div>
    </form>
  </div>
</div>



<p-toast></p-toast>