<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5">
                <span class="px-2">thông tin Kỳ thi</span>
            </p>
            <h1 class="mb-4">Các môn thi</h1>
        </div>
        <div class="row" id="test">
            <div class="col-lg-4 mb-5" *ngFor="let chiTietKyThi of ListLichThi">
                <div class="card border-0 bg-light shadow-sm pb-2">
                    <div class="card-body text-center">
                        <h4 class="card-title">{{chiTietKyThi.kyThi.tenKyThi}}</h4>
                        <p class="card-text">
                            Ngày thi: {{chiTietKyThi.kyThi.thoiGianBatDau | date:'dd/MM/yyyy'}} -
                            {{chiTietKyThi.kyThi.thoiGianKetThuc | date:'dd/MM/yyyy'}}
                        </p>
                        <p class="card-text">
                            Trạng thái: <span [ngClass]="getBadgeClass(chiTietKyThi.trangThai)" class="badge">{{
                                chiTietKyThi.trangThai }}</span>
                        </p>

                    </div>
                    <div class="card-footer bg-transparent py-4 px-5">
                        <div class="row border-bottom">
                            <div class="col-6 py-1 text-right border-right">
                                <strong>Lớp</strong>
                            </div>
                            <div class="col-6 py-1">{{chiTietKyThi.lopThi.tenLop}}</div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col-6 py-1 text-right border-right">
                                <strong>Môn</strong>
                            </div>
                            <div class="col-6 py-1">{{chiTietKyThi.monThi.tenMon}}</div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col-6 py-1 text-right border-right">
                                <strong>Ngày thi</strong>
                            </div>
                            <div class="col-6 py-1">{{chiTietKyThi.thoiGianBatDau | date:'dd/MM/yyyy'}}</div>
                        </div>
                        <div class="row border-bottom">
                            <div class="col-6 py-1 text-right border-right">
                                <strong>Thời gian làm bài</strong>
                            </div>
                            <div class="col-6 py-1" *ngIf="chiTietKyThi.time !== -1">{{chiTietKyThi.time}} phút</div>
                            <div class="col-6 py-1" *ngIf="chiTietKyThi.time === -1">Chưa có thông tin</div>
                        </div>
                        <div class="row">
                            <div class="col-6 py-1 text-right border-right">
                                <strong>Thời gian thi</strong>
                            </div>
                            <div class="col-6 py-1">{{ convertToTime(chiTietKyThi.thoiGianBatDau) }} - {{
                                convertToTime(chiTietKyThi.thoiGianKetThuc) }}</div>
                        </div>
                    </div>
                    <button class="btn btn-primary px-4 mx-auto mb-4"
                        [disabled]="chiTietKyThi.trangThai !== 'Đang diễn ra' || chiTietKyThi.time === -1"
                        (click)="a(chiTietKyThi.maDeThi)">Vào
                        Thi</button>




                </div>
            </div>
        </div>
    </div>
</div>