  <!-- <div class="list-body">
        <p-table [value]="listChiTietKyThi" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" #dt1
          dataKey="maKyThi" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]"
          [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [globalFilterFields]="['maKyThi', 'tenKyThi']">

          <ng-template pTemplate="header" class="theader">
            <tr>
              <th pSortableColumn="maKyThi" style="width:14%">Mã kỳ thi <p-sortIcon field="maKyThi"></p-sortIcon> </th>
              <th pSortableColumn="tenKyThi" style="width:30% ">Tên kỳ thi <p-sortIcon field="tenKyThi"></p-sortIcon>
              </th>
              <th style="width:15%; text-align: center;">Trạng thái
              </th>
              <th pSortableColumn="thoiGianBatDau" style="width:15%;  text-align: center;">Thời gian bắt đầu <p-sortIcon
                  field="thoiGianBatDau"></p-sortIcon></th>
              <th pSortableColumn="thoiGianKetThuc" style="width:17%;text-align: center;">Thời gian kết thúc <p-sortIcon
                  field="thoiGianKetThuc"></p-sortIcon>
              </th>
              <th style="width:8%">Thao tác</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" class="tbody" let-listContest let-rowIndex="rowIndex">
              
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
          </ng-template>
          <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
          </ng-template>
        </p-table>

      </div> -->
