<div class="container">
  <div class="router">
    <h6>
      <a href="">Lịch thi</a> >>
      <a href="">Thi ngay</a> >>
      <a href="">Toán HK1</a>
    </h6>
  </div>
  <p-toast></p-toast>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  <div class="row">
    <div class="col-md-9 bg-light">

      <!-- Chi tiết câu hỏi -->
      <form action="" method="post">
        <div class="row">
          <!-- Nội dung câu hỏi -->
          <div class="question1 d-flex">
            <div class="question-content md-9">
              <span *ngIf="cauHoi">Câu {{index + 1}}: {{ cauHoi.noiDungCauHoi }}</span>
            </div>
          </div>

          <!-- Đáp án câu hỏi -->
          <div class="options" style="margin: auto;" *ngIf="cauHoi && cauHoi.dapAns">
            <label *ngFor="let dapAn of cauHoi.dapAns; let j = index">
              <ng-container *ngIf="cauHoi.nhieuDapAn === true">
                <input type="checkbox" name="q1" value="a" [checked]="dapAn.daChon"
                  (change)="onChangCheckBox($event, j)">
                {{chuCai[j]}}. {{dapAn.noiDungDapAn}}
              </ng-container>
              <ng-container *ngIf="cauHoi.nhieuDapAn === false">
                <input type="radio" name="q1" value="a" [checked]="dapAn.daChon" (change)="onChangRadio($event, j)">
                {{chuCai[j]}}.
                {{dapAn.noiDungDapAn}}
              </ng-container>
            </label>
          </div>
        </div>

        <!-- Chuyển câu hỏi -->
        <div class="question-footer">
          <button class="btn-pre btn-info" [disabled]="index == 0" (click)="chuyenCauHoi(index - 1)">Câu trước</button>
          <button class="btn-next btn-info" [disabled]="deThi && index === deThi.length - 1"
            (click)="chuyenCauHoi(index + 1)">Câu tiếp theo</button>
        </div>
      </form>
    </div>
    <div class="col-md-3">

      <!-- Danh sách câu hỏi -->
      <h5 class="question-header">Câu hỏi trắc nghiệm</h5>
      <div class="question-container">
        <button *ngFor="let de of deThi; let i = index" [ngClass]="{
          'question': true,
          'bg-warning': de.daChon,
          'hehe': index === i
        }" (click)="chuyenCauHoi(i)">{{i+1}}</button>
      </div>


      <!-- Thời gian làm bài -->
      <div class="question-footer1 text-center d-flex justify-content-center align-items-center">
        <div class="timer md-9 ">Thời gian còn lại: <br> <i class="far fa-clock"> {{displayTime}}</i>
        </div>
        <button type="submit" class="btn-nop-bai bg-primary md-3" (click)="confirm()">
          Nộp bài thi
          <br>
          <ng-container *ngIf="deThi">
            {{soCauDaLam}}/{{deThi.length}}
          </ng-container>
        </button>
      </div>
    </div>
  </div>
</div>