<c-row ngPreserveWhitespaces>

  <form [formGroup]="formGroup" cForm>
   
    <c-col xs="12">
      <c-card class="mb-4">
        <div class="tabs">
          <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <button class="nav-link active text-dark" id="nav-danh-sach-tab" data-bs-toggle="tab"
                      data-bs-target="#nav-danh-sach" type="button" role="tab" aria-controls="nav-danh-sach"
                      aria-selected="true">Lịch phân công</button>
                  <button class="nav-link text-dark" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                      type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Tạo đề Thi</button>
              </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active mt-4" id="nav-danh-sach" role="tabpanel"
                  aria-labelledby="nav-danh-sach-tab">
      
                  <!-- start table -->
                  <div class="group-header-table ">
            
                     
                  </div>
      
                  <div class="list-body">
                      
      
                  </div>
                  <!-- end table -->
      
              </div>
              
      
          </div>
      </div>
     
      
    
      </c-card>
    </c-col>
  </form>
</c-row>
