h3{
    margin:  20px 0 20px;
    font-family: 600;
    font-size: 26px;
}

.tabs .tab-content .tab-pane .tab-header-tao-de-thi{
    padding: 20px;
}

.modal-footer{
    margin: 30px 50px 10px 0px;
}
.form-checkbox {
    display: flex;
    justify-content: left;
    margin-top: 5px;
}

.form-checkbox label {
    margin-left: 10px;
}

.form-checkbox .checkbox {
    margin-left: 15px;
}

.dapAnDung{
    // margin-left: 20%;
}

/* Tùy chỉnh kích thước của checkbox */
#ny {
    /* Kích thước của checkbox */
    width: 30px;
    height: 30px;
    border-radius: 5px;
   
  }
  