<div id="wrapper">

  <div id="content-wrapper" class="d-flex flex-column">

    <div id="content">

      <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800 mt-3">Thống Kê</h1>
        </div>

        <div class="row">

          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                      Học sinh</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{studentList.length}}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                      Giáo Viên</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{teacherList.length}}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tổng số kì thi
                    </div>
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{eventList.length| number}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                      Pending Requests</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-8">
            <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Tổng Kết</h6>
                <p-calendar [(ngModel)]="currentDate" (ngModelChange)="changeYear(currentDate)" view="year"
                  dateFormat="yy" inputId="yearpicker"></p-calendar>
                <select pInputText name="" id="filterEvent" (change)="changeEvent()">
                  <option value="">Tất cả kì thi</option>
                  <option *ngFor="let event of eventFilterList" [value]="event.maKyThi">{{event.tenKyThi}}</option>
                </select>
              </div>
              <div class="card-body">
                <c-chart [data]="data" type="line" (chartRef)="handleChartRef($event)">
                </c-chart>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="card shadow mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Tổng kết phân loại bài thi</h6>
              </div>
              <div class="card-body">
                <c-chart [data]="data2" type="doughnut">
                </c-chart>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="card shadow mb-4">
              <c-chart [height]="300" [data]="data3" type="bar"></c-chart>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="card shadow mb-4">
            <div class="card-header">
              <h6 class="m-0 font-weight-bold text-primary">Bảng xếp hạng học sinh</h6>
            </div>
            <div class="card-body">
              <p-table [columns]="selectedColumns" [value]="studentResultList" [paginator]="true" [rows]="5"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Hiển {first} đến {last} trong tổng {totalRecords} dữ liệu"
                [rowsPerPageOptions]="[10, 25, 50]" sortField="diemTB" [sortOrder]="-1">
                <ng-template pTemplate="caption">
                  <p-multiSelect [options]="subjectList" [(ngModel)]="selectedColumns" optionLabel="tenMon"
                    selectedItemsLabel="{0} môn được chọn" [style]="{'min-width': '200px'}"
                    placeholder="Choose Columns"></p-multiSelect>
                </ng-template>
                <ng-template pTemplate="header" class="theader" let-columns>
                  <tr>
                    <th pSortableColumn="hoVaTen">Tên <p-sortIcon field="hoVaTen"></p-sortIcon></th>
                    <th class="text-center" *ngFor="let subject of columns">{{subject.tenMon}}</th>
                    <th class="text-center" pSortableColumn="diemTB">Điểm TB <p-sortIcon field="diemTB"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" class="tbody" let-studentList let-columns="columns">
                  <tr>
                    <td>{{ studentList.hoVaTen }}</td>
                    <td class="text-center" *ngFor="let subject of columns">
                      <div class="text-success" *ngIf="getStudentAvgMarkOfEachSubject(studentList.tenDangNhap,
                      subject.maMon) >= 7">{{getStudentAvgMarkOfEachSubject(studentList.tenDangNhap,
                        subject.maMon)}}</div>
                      <div class="text-warning" *ngIf="getStudentAvgMarkOfEachSubject(studentList.tenDangNhap,
                      subject.maMon) >= 5 &&  getStudentAvgMarkOfEachSubject(studentList.tenDangNhap,
                      subject.maMon) < 7">{{getStudentAvgMarkOfEachSubject(studentList.tenDangNhap,
                        subject.maMon)}}</div>
                      <div class="text-danger" *ngIf="getStudentAvgMarkOfEachSubject(studentList.tenDangNhap,
                      subject.maMon) < 5">{{getStudentAvgMarkOfEachSubject(studentList.tenDangNhap,
                        subject.maMon)}}</div>
                      <div *ngIf="getStudentAvgMarkOfEachSubject(studentList.tenDangNhap,
                      subject.maMon) == null">-</div>
                    </td>
                    <td class="text-center">
                      <div class="text-success" *ngIf="studentList.diemTB >= 7">{{studentList.diemTB}}</div>
                      <div class="text-warning" *ngIf="studentList.diemTB >= 5 &&  studentList.diemTB < 7">
                        {{studentList.diemTB}}</div>
                      <div class="text-danger" *ngIf="studentList.diemTB < 5">{{studentList.diemTB}}</div>
                      <div *ngIf="studentList.diemTB == null">-</div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>